<!DOCTYPE html>
<html lang=en>
  <head>
    {% block head %}
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
      <link rel="stylesheet" type="text/css" href="Resources/static/css/feed.css">
    {% endblock %}

    {% block title %}
      <title>{{ page_title }}</title>
    {% endblock  %}
  </head>

  <body>
    <section class="container-fluid">
      {% block headerMenu %}
        {% include "header_menu.html" %}
      {% endblock %}
      <div class="row">
        <div class="col-xs-12 col-sm-2 left-menu">
          {% block navLeft %}
          {% endblock %}
        </div>
        <div class="col-xs-12 col-sm-10 rss-content">
          {% block content %}
          {% endblock %}
        </div>
      </div>
    </section>
    <script type="text/javascript" src="Resources/static/js/jquery-3.7.1.min.js"></script>
    <script type="text/javascript" src="Resources/static/js/feed.js"></script>
  </body>
</html>