<nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="/reader">Feader</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="/newFeed">New</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/favorites" id="favorites">Fav</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/status" id="favorites">Status</a>
        </li>
      </ul>
    </div>
  </div>
</nav>