{% extends 'base.html' %}

{% block content %}
<br />
<div class="container text-center">
	<div class="row">
		<div class="col-6">
			<form method="POST" action="/newFeed">
				<div class="row mb-3">
					{{ form.name.label(class="col-sm-2 col-form-label") }}
					<div class="col-sm-6">
						{{ form.name(class="form-control")  }}
					</div>
				</div>
				<div class="row mb-3">
					{{ form.url.label(class="col-sm-2 col-form-label") }}
					<div class="col-sm-6">
						{{ form.url(class="form-control", maxlength="50") }}
					</div>
				</div>
				<div class="row mb-3">
					{{ form.rss.label(class="col-sm-2 col-form-label") }}
					<div class="col-sm-6">
						{{ form.rss(class="form-control", maxlength="50")  }}
					</div>
				</div>
				<button type="submit" class="btn btn-primary">New Feed</button>
			</form>
		</div>
		<div class="col">
		</div>
		<div class="col">
		</div>
	</div>
</div>
{% endblock %}