{% extends 'base.html' %}

{% block title %}
<title>FeedMe Reader</title>
{% endblock %}

{% block navLeft %}

{% include "show_menu.html" %}
{% endblock %}

{% block content %}
<div class="rss">
    <div id="rss-content"></div>
</div>
{% endblock %}