{% extends 'base.html' %}

{% block content %}
<div class="col-md">
    {% for article in articles %}
        <div class="card" id="#{{ article[4]|replace("'","") }}">
            <div class="card-body">
                <h5 class="card-title">
                    <a href="{{ article[0]|replace("'","") }}" target="_blank">{{ article[1]|replace("'","") }}</a>
                </h5>
                <p class="card-text">
                    {% if article[3]|replace("'","") %}
                        {{ article[3]|replace("'","")|striptags }}
                    {% else %}
                        {{ article[2]|replace("'","")|striptags }}
                    {% endif %}
                </p>
                <a href="{{ article[4]|replace("'","") }}" class="removeFavorite btn btn-primary">Remove From Favotires</a>
            </div>
            <section id="{{ article[4]|replace("'","") }}">
                <input type="hidden" value="{{ article[5]|replace("'","") }}" name="unread">
                <input type='hidden' name='feedId' value="{{ feedId }}" >
            </section>
        </div>
    {% endfor %}
</div>
{% endblock %}
