<ul class="nav flex-column sidebar">
  {% for link in feeds_url %}
      <a class="nav-link dropdown-item" href="{{ link[4] }}">{{ link[2] }} <span class="badge bg-primary rounded-pill">({{ link[3] }})</span></a>
  {% endfor %}
</ul>