
    {% for article in articles %}
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">
                    <a href="{{ article[0]|replace("'","") }}" target="_blank">{{ article[1]|replace("'","") }}</a>
                    <figure>
                        <figcaption class="blockquote-footer">
                            {{ article[6]|replace("'","") }}
                        </figcaption>
                      </figure>

                </h5>
                <p class="card-text">
                    {% if article[3]|replace("'","") %}
                        {{ article[3]|replace("'","")|striptags }}
                    {% else %}
                        {{ article[2]|replace("'","")|striptags }}
                    {% endif %}
                </p>
                <a href="{{ article[4]|replace("'","") }}" class="favorite btn btn-primary">Read Later</a>
            </div>
            <section id="{{ article[4]|replace("'","") }}">
                <input type="hidden" value="{{ article[5]|replace("'","") }}" name="unread">
                <input type='hidden' name='feedId' value="{{ feedId }}" >
            </section>
        </div>
    {% endfor %}