{% extends 'base.html' %}

{% block content %}
<div class="col-md">
    <div class="row">
      {% set ns =  namespace(title="") %}
      {% for stat in stats %}
        {% if ns.title != stat[0] and not loop.first %}
      </div>
    </div>
        {% endif %}
        {% if ns.title != stat[0] %}
          <div class="card">
            <div class="card-body">
              {% set ns.title = stat[0] %}
              <h5 class="card-title">{{ stat[0] }}</h5>
        {% endif %}
              
              {% if stat[1] == 0 %}
              <p class="card-text">Read: {{ stat[2] }}</p>
              {% elif stat[1] == 1 %}
              <p class="card-text">New: {{ stat[2] }}</p>
              {% elif stat[1] == 2 %}
              <p class="card-text">3: {{ stat[2] }}</p>
              {% elif stat[1] == 3 %}
              <p class="card-text">Skipped: {{ stat[2] }}</p>
              {% endif %}
      {% endfor %}  
    </div>
</div>
{% endblock %}